{:component/id ""
 :component/name "layernorm"
 :meta-type "stateful-module"
 :version "1.0.0"
 :tags ["transformer" "normalization"]
 :interface/inputs [{:name "input" :tensor {:shape [:batch :features] :dtype "float32"}}
                     {:name "weight" :role "parameter" :tensor {:shape [:features] :dtype "float32"}}
                     {:name "bias" :role "parameter" :tensor {:shape [:features] :dtype "float32"}}]
 :interface/outputs [{:name "output" :tensor {:shape [:batch :features] :dtype "float32"}}]
 :hyperparameters {"features" {:type "int" :default 64}
                    "eps" {:type "float" :default 1e-5}}
 :implementation [{:language "python" :entry "forward"}]
 :compatibility {:devices ["cpu" "cuda"] :dtypes ["float32"] :autograd true}}
