{:component/id ""
 :component/name "select_last"
 :meta-type "pure-function"
 :version "1.0.0"
 :tags ["transformer" "sequence"]
 :interface/inputs [{:name "input" :tensor {:shape [:batch :seq :features] :dtype "float32"}}]
 :interface/outputs [{:name "output" :tensor {:shape [:batch :features] :dtype "float32"}}]
 :hyperparameters {}
 :implementation [{:language "python" :entry "forward"}]
 :compatibility {:devices ["cpu" "cuda"] :dtypes ["float32"] :autograd true}}
