{:schema-version 1, :graph-id "00000000-0000-0000-0000-000000000001", :name "first-run-example", :nodes [{:id "n1", :component "scale", :label "Scale", :hyperparams {}, :ports { :input-ports ["x", "w"], :output-ports ["y"], }, :position {:x 250, :y 150, }, }], :edges [], :training {:loss "mse", :optimizer "sgd", :trainer_type "standard", :hyperparams {:epochs 30, :lr 0.01}, :data_source { :source-type "file", :path-or-uri "examples/first_run.csv", :batch-size 20, :preprocessing [], :sequence-length nil, :vocab-size nil, :image-size nil, :grayscale nil, :text-column nil, :label-column nil, }, :reproducibility nil, }, }